#cart {
    display: flex;
    flex-wrap: wrap;
}

.element{
    border:1px solid black;
    margin:20px;
}

.imgelm{
    border: 1px solid black;
    width:250px;
    height:300px;
}

.infSP{
    text-align: center;
}

.cAndt{
    display: flex;
    justify-content:space-evenly;
}